<p id="notice"><%= notice %></p>

<h1>Homepage</h1>

<% @dish.each do |dish|  %>
  <h2>Title: <%= dish.descricao %></h2>
  <h3>Subject: <%= dish.preco %></h3>
  <h4>Text: <%= dish.tempopreparo %></h4>
  <strong><%= dish.ingredients.descricao %></strong>
  <small><% dish.created_at %></small>
<% end %>
